$default-gray: #e3e3e3;

.header {
    width: 100%;
    height: 4rem;
    position: sticky;
    top: 0;
    display: grid;
    transition: 0.3s ease-out;
    user-select: none;
    z-index: 1;
    .btn {
        place-self: center;
        border-radius: 100px;
        border: none;
        width: 9rem;
        height: 2rem;
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
        background-color: #d9d9d9;
    }
    .nav-bar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 0 1.5rem;
        color: #ffffff;
        .right {
            grid-area: 1 / 2 / 2 / 3;
            place-self: center end;
            display: flex;
            align-items: center;
            .avatar {
                width: 2.5rem;
                height: 2.5rem;
                background-color: $default-gray;
                border-radius: 10rem;
                margin-left: 1rem;
            }
        }
        .left {
            grid-area: 1 / 1 / 2 / 2;
            place-self: center start;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                li {
                    margin-right: 1rem;
                    cursor: pointer;
                }
            }
        }
    }
}
.login-wrapper {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.76);
    width: 100%;
    height: 100vh;
    z-index: 2;
    opacity: 0;
    animation: apear 0.5s ease forwards;
    .close {
        position: absolute;
        right: 1.3rem;
        top: 1.1rem;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .login,
    .signup {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20rem;
        padding-bottom: 1.25rem;
        display: block;
        background-color: $default-gray;
        border-radius: 10px;
        z-index: 3;
        // &::before{
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     width: 100vw;
        //     height: 100vh;
        //     background-color: white;
        // }
        p {
            width: max-content;
            height: min-content;
            font-size: 1.2rem;
            margin: 0 auto;
            padding-top: 1.25rem;
            padding-bottom: 2rem;
        }
        label {
            display: block;
            margin: 1.2rem 0 0.25rem 1.2rem;
            font-size: 0.8rem;
            letter-spacing: 0.1rem;
        }
        input {
            margin: 0 1.2rem 0;
            width: calc(100% - 2.4rem);
            height: 1rem;
            padding: 0.8rem 0.5rem;
            border: none;
            border-radius: 7px;
        }
        .forgot-pw {
            width: max-content;
            font-weight: 100;
            font-style: italic;
            font-size: 0.6rem;
            margin: 0.5rem 0 0 1.2rem;
            cursor: pointer;
        }
        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - 2.4rem);
            margin: 0 auto;
            margin-top: 1rem;
            .signin,
            .signed {
                width: 9rem;
                font-size: 0.7rem;
                flex-shrink: 0;
                span {
                    color: #00c5ff;
                    cursor: pointer;
                }
            }
            .login-btn {
                width: 7.3rem;
                height: 1.9rem;
                border: none;
                border-radius: 7px;
                background-color: white;
                font-size: 0.8rem;
                cursor: pointer;
            }
        }

        .orther-login {
            p {
                font-size: 0.7rem;
                width: max-content;
                margin: 0 auto;
                padding-top: 3.5rem;
                padding-bottom: 0.5rem;
            }
            .options {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 50%;
                margin: 0 auto;
                // height: 2.1rem;
                .option {
                    display: grid;
                    place-content: center;
                    width: 2.1rem;
                    height: 2.1rem;
                    border-radius: 7px;
                    background-color: white;
                    cursor: pointer;
                    transition: 0.4s;
                    &:nth-child(1):hover {
                        color: #db4437;
                    }
                    &:nth-child(2):hover {
                        color: #4867aa;
                    }
                    &:nth-child(3):hover {
                        color: #1da1f2;
                    }
                }
            }
        }
    }
}
.homepath {
    opacity: 0;
    pointer-events: none;
    animation: homepath-ani 0.3s ease-out 3s forwards;
}
.scrollback {
    top: -4rem;
}
.solid {
    background-color: #97deff;
}
.black {
    .nav-bar {
        color: #1f1f11 !important;
    }
}

@keyframes homepath-ani {
    to {
        opacity: 1;
        pointer-events: all;
    }
}
@keyframes apear {
    100% {
        opacity: 1;
    }
}
