.Events {
    width: 70rem;
    min-height: 100vh;
    margin: 0 auto;
    p {
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
    ol {
        margin-top: 2rem;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .Link {
            li {
                padding: 1.5rem 0;
                // cursor: pointer;
                .event-card {
                    position: relative;
                    width: 390px;
                    // width: clamp(max,normal,min);
                    height: 490px;
                    .img-wrap {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        border-radius: 3rem 1rem;
                        overflow: clip;
                        transition: 0.3s;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .info {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        text-align: center;
                        transition: 0.3s;
                        z-index: -1;
                        // .tag {
                        // }
                        // .title {
                        // }
                    }
                }
            }

            &:nth-child(even) {
                .event-card {
                    .info {
                        top: 0;
                    }
                }
                &:hover {
                    .event-card {
                        .img-wrap {
                            top: 1.5rem;
                        }
                        .info {
                            top: -1.5rem;
                        }
                    }
                }
            }
            &:hover {
                .event-card {
                    .img-wrap {
                        top: -1.5rem;
                        border-radius: 1rem;
                    }
                    .info {
                        bottom: -1.5rem;
                    }
                }
            }
        }
    }
}
